<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Callbacks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
        
                <h1 class="subtitle">What are Callbacks?</h1>
                <p>In JavaScript, a callback is a function passed into another function as an argument to be executed later. ... In this example, the isOddNumber is a callback function. When you pass a callback function into another function, you just pass the reference of the function i.e., the function name without the parentheses () .</p>
                
            </div>

        </div>
       
    </section>
    
    
</body>
</html>
