<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Higher Level Function</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>

    <section class="hero">
        <div class="hero-body">
            <div class="container">

                <h1>What does the map higher level function do?</h1>
                <p>Higher order functions can help you to step up your JavaScript game by making your code more declarative. That is, short, simple, and readable.

                    A Higher Order Function is any function that returns a function when executed, takes a function as one or more of its arguments, or both. 
                    If you have used any of the Array methods like map or filter, or passed a callback function to jQuery’s $.get, you have already worked with Higher Order Functions.
                    
                    When you use Array.map, you provide a function as its only argument, which it applies to every element contained in the array.
                    
                    .map() is a high-order function. It allows a function to be passed as an argument.</p>

            </div>
        </div>  
    </section>

</body>
</html>
