<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pages</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<div>
    <ul>
      <li>
        <a routerLink= '/promises'>What are Promises?</a>
      </li>
      <li>
        <a routerLink='/callbacks'>What are Callbacks?</a>
      </li>
      <li>
        <a routerLink='/hilevfunc'>What does the map higher level function do?</a>
      </li>
      <li>
        <a routerLink='/jscreator'>Who created javaScript?</a>
      </li>
    </ul>
  </div>
</body>
</html>

<router-outlet></router-outlet>